@model IEnumerable<Anlagenverwaltung.Models.HardwareKomponenten.Computer>

@{
    ViewBag.Title = "Computer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Computer</h2>
<p>
    @Html.ActionLink("Neuer Computer", "New", "Computer", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Übergabe an Abschreibung", "UebergabeComputer", "Abschreibung", null, new { @class = "btn btn-primary" })
</p>
<table id="computers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Computer</th>
            <th>MacAdresse</th>
            <th>Hardware</th>
            <th>Software</th>
            <th>User</th>
            <th>Computer Löschen</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        
    $(document).ready(function () {
        var table = $("#computers").DataTable({
            ajax: {
                url: "/api/computer",
                dataSrc: ""
            },
            columns: [
                {
                    data: "Id",
                    render: function(data, type, computer) {
                        return "<a href='/computer/edit/" + data + "'>" + computer.Hersteller + "</a>";
                    }
                },
                {
                    data: "MacAdresse"
                },
                {
                    data: "Id",
                    render: function (data) {
                        return "<button class='btn-link js-show' data-computer-identification=" + data + ">Hardware anzeigen</button>";
                    }
                },
                {
                    data: "Id",
                    render: function (data) {
                        return "<button class='btn-link js-show2' data-computer-identification=" + data + ">Software anzeigen</button>";
                    }
                },
                {
                    data: "Id",
                    render: function(data, type, computer) {
                        return computer.Benutzer.Nachname + " " + computer.Benutzer.Vorname
                    }
                },
                {
                    data: "Id",
                    render: function(data) {
                        return "<button class='btn-link js-delete' data-computer-id=" + data + ">Löschen</button>";
                    }
                }
            ]
        });


        $("#computers").on("click", ".js-delete", function () {
            var button = $(this);

            bootbox.confirm("Are you sure you want to delete this computer?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/computer/" + button.attr("data-computer-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });

        $("#computers").on("click", ".js-show", function () {
            var button = $(this);

            var modal = new tingle.modal({
                footer: true,
                stickyFooter: false,
                closeMethods: ['overlay', 'button', 'escape'],
                closeLabel: "Close",
                cssClass: ['custom-class-1', 'custom-class-2'],
                onOpen: function() {
                    $.ajax({
                        url: "/api/computer/" + button.attr("data-computer-identification"),
                        success: function (data) {
                            var ul = "<ul id='forEachLi'>" +
                                "<li><b>Arbeitsspeicher: </b>" +
                                data.Arbeitsspeicher.Hersteller +
                                " " +
                                data.Arbeitsspeicher.Produktbezeichnung +
                                "</li>" +
                                "<li><b>Maus: </b>" +
                                data.Maus.Hersteller +
                                " " +
                                data.Maus.Produktbezeichnung +
                                "</li >" +
                                "<li><b>Prozessor: </b>" +
                                data.Prozessor.Hersteller +
                                " " +
                                data.Prozessor.Produktbezeichnung +
                                "</li >" +
                                "<li><b>Tastatur: </b>" +
                                data.Tastatur.Hersteller +
                                " " +
                                data.Tastatur.Produktbezeichnung +
                                "</li >";

                            data.Festplatten.forEach(function(festplatte) {
                                ul += "<li><b>Festplatte: </b>" +
                                    festplatte.Hersteller +
                                    " " +
                                    festplatte.Produktbezeichnung +
                                    "</li >";
                            });

                            data.Monitore.forEach(function(monitor) {
                                ul += "<li><b>Monitor: </b>" +
                                    monitor.Hersteller +
                                    " " +
                                    monitor.Produktbezeichnung +
                                    "</li >";
                            });

                            ul += "</ul";

                            modal.setContent(ul);
                        }

                    });
                    }
                });

                modal.open();

                // add a button
                modal.addFooterBtn('Schließen', 'tingle-btn tingle-btn--primary', function() {
                    // here goes some logic
                    modal.close();
                });

            });
        });

        $("#computers").on("click", ".js-show2", function () {
            var button = $(this);

            var modal = new tingle.modal({
                footer: true,
                stickyFooter: false,
                closeMethods: ['overlay', 'button', 'escape'],
                closeLabel: "Close",
                cssClass: ['custom-class-1', 'custom-class-2'],
                onOpen: function () {
                    $.ajax({
                        url: "/api/computer/" + button.attr("data-computer-identification"),
                        success: function (data) {
                            var ul = "<ul id='forEachLi'>" +
                                "<li><b>Betriebssystem: </b>" +
                                data.Betriebssystem.Hersteller +
                                " " +
                                data.Betriebssystem.Bezeichnung +
                                "</li>";

                            data.Anwendungssoftware.forEach(function (anwendungssoftware) {
                                ul += "<li><b>Anwendungssoftware: </b>" +
                                    anwendungssoftware.Hersteller +
                                    " " +
                                    anwendungssoftware.Bezeichnung +
                                    "</li >";
                            });

                            data.Unterstuetzungssoftware.forEach(function (uSoftware) {
                                ul += "<li><b>Unterstützungssoftware: </b>" +
                                    uSoftware.Hersteller +
                                    " " +
                                    uSoftware.Bezeichnung +
                                    "</li >";
                            });

                            ul += "</ul";

                            modal.setContent(ul);
                        }

                    });
                }
            });

            modal.open();

            // add a button
            modal.addFooterBtn('Schließen', 'tingle-btn tingle-btn--primary', function () {
                // here goes some logic
                modal.close();
            });

        });
    </script>
}
