<div class="row">
    <div class="col-md-12">
        <div class="row">
            <img src="https://www.gisorga.de/wp-content/uploads/logo.png" alt="Logo GIS">
        </div>
        
    </div>
    <div class="row">
        <h1>Anlagenverwaltung mit Abschreibung</h1>

        <p>
            <strong>Mit dieser Web-Applikation können Sie die Betriebsanlagen verwalten und eine Abschreibung durchführen.</strong>
        </p>
    </div>
    
</div>