@model IEnumerable<Anlagenverwaltung.Models.SonstigeAnlage>

@{
    ViewBag.Title = "SonstigeAnlage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sonstige Anlagen</h2>
<table id="sonstigeanlages" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Gegenstand</th>
            <th>Bezeichnung</th>
            <th>Einkaufsdatum</th>
            <th>Einkaufspreis</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>

        $(document).ready(function() {
            var table = $("#sonstigeanlages").DataTable({
                ajax: {
                    url: "/api/sonstigeAnlage",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Gegenstand"
                    },
                    {
                        data: "Bezeichnung"
                    },
                    {
                        data: "Einkaufsdatum",
                        render: function(data, type) {
                            var date=new Date(data);
                            day=date.getDate();
                            month=date.getMonth();
                            month=month+1;
                            if((String(day)).length==1)
                                day='0'+day;
                            if((String(month)).length==1)
                                month='0'+month;

                            dateT = day + '.' + month + '.' + date.getFullYear();
                            return dateT;
                        }
                    },
                    {
                        data: "Einkaufspreis"
                    }
                ]
            });
        });

    </script>
}
